@font-face {
    font-family: "Poppins-Semibold";
    src: url("../../fonts/fonts/Poppins-SemiBold_0.ttf");
}
.review-section{
    background-image: url(../../img/hero-header/webs2.png);
	background-size: cover;
    position: relative;
}
.overlay {
    background: linear-gradient(to right, #467de10f , #8623d60d);
    width: 100%;
	height: 100%;
}
.pt-100 {
    padding-top: 110px !important;
}
.pb-100 {
    padding-bottom: 90px !important;
}
.user-review-title {
    position: relative;
    text-align: center;
	margin-bottom: 75px;
    overflow: hidden;
}
.title-bg h2 {
    font-size: 30px;
}
.user-review-title h2 {
    color: #1E1C42;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 35px;
    text-transform: capitalize;
    position: relative;
    font-family: Poppins-Semibold, sans-serif;
}

.review-item{
    margin: 10px;
}
.user-review-title h2:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 10%;
    bottom: 10px;
    height: 7px;
    border-radius: 25px;
    background: linear-gradient(to right, #07F8C3 , #4289FF);
}

.user-review-title.title-bg p {
    color: #969696;
    font-size: 1rem;
    padding-top: 10px;
    line-height: 1.9;
}

p {
    margin: 0 0 10px;
}
.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    box-shadow: 0 0.2rem 2.8rem rgba(36, 36, 36, 0.06);
}
.card img {
    width: 100%;
    height: auto;
}

.table {
    margin-bottom: 0px;
	    height: 272px;
}

.card .table {
    padding: 1rem 2rem;
}

.card-profile {
    margin-top: 50px;
    text-align: center;
}

.card-profile .card-avatar,
.card-testimonial .card-avatar {
    max-width: 120px;
    max-height: 120px;
    margin: -55px auto 0;
    border-radius: 50%;
    overflow: hidden;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: #ffffff;
}
.one{
	border-color: #9a3bb1;
}
.card-profile.card-plain .card-avatar,
.card-testimonial.card-plain .card-avatar {
    margin-top: 0;
}

.card-testimonial .card-avatar {
    max-width: 100px;
    max-height: 100px;
}

.col-md-12 {
    padding-right: 0px;
    padding-left: 0px;
}

.card-caption{
	font-family: "Nunito", Sans-serif;
    font-size: 16px;
    font-weight: 700;    
    margin-bottom: .3rem;
    color: #151515;
    line-height: 1.2;
    text-align: center;
    margin-top: 1rem;
}

.text-muted{
	color: #aaaaaa;
	font-family: "Nunito", Sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: .5rem;
}
.card-description{
    color: #242424;
    font-family: "Lora", Sans-serif !important;
    font-size: 16px;
    font-style: italic;
	font-weight: 400;
    margin-top: 1.5rem;
    line-height: 1.6;
    text-align: center;
    opacity: 0.9;
}
 .rating {
   margin-left: -2px;
 }
 .rating li {
    padding-right: 0px !important;
    padding-left: 0px !important;
   color: #e1e1e1;
 }
 .rating li.active {
   color: #ff9c1c;
 }
