
/*----------------------- Conatct Us ----------------------*/
nav ul ul {
    display: none;
    position: absolute;
    top: 70px!important;
    padding-left: 0;
    background: #f4f4f4;
}
.navbar.transparent, .navbar.transparent.dark, .navbar.transparent.light, .navbar.transparent.bg-primary {
    padding: 20px!important;
}
.contact{
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 30px;
}
.bg-second-block {
    padding-top: 145px!important;
}
.contact-us-section .contact-us-form input[type="text"],
.contact-us-section .contact-us-form input[type="email"],
.contact-us-section .contact-us-form textarea {
  width: 100%;
  max-width: 100%;
  border: none;
  border-bottom: 2px solid #f0eff4;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
}
.contact-us-section .contact-us-form input[type="text"]:focus,
.contact-us-section .contact-us-form input[type="email"]:focus,
.contact-us-section .contact-us-form textarea:focus {border-bottom-color: #3fdefb;}
.contact-us-section .contact-us-form input[type="text"],
.contact-us-section .contact-us-form input[type="email"] {
  height: 60px;
  padding-left: 20px;
  background-color: #e3e7fe;
}
.contact-us-section .contact-us-form textarea {
  height: 165px;
  padding: 15px 20px;
  background-color: #e3e7fe;
}
.contact-us-section .contact-us-form .theme-button {
  width: 190px;
  height: 50px;
  border-radius: 25px;
}
.contact-us-section .contact-us-form .theme-button input[type="submit"] {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  position: relative;
  z-index: 1;
  cursor: pointer;
  background: linear-gradient( 41deg, rgba(0, 161, 255, 0.48) 0%, rgba(140, 78, 255, 0.57) 100%);
}
.contact-us-section .contact-address {margin: 20px 0 60px 0;}
.contact-us-section .contact-address .theme-title-one h6 {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: inherit;
}
.contact-us-section .contact-address .theme-title-one h2 {
  font-size: 38px;
  line-height: 55px;
}
.contact-us-section .contact-address p {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #8c8c8c;
  margin: 50px 0 10px 0;
}
.contact-us-section .contact-address .call {
  font-weight: 500;
  font-size: 28px;
  color: #00000a;
}
.contact-us-section{
      padding-left: 10px;
      padding-right: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tooltip {
  font-family: Georgia;
  font-size: 15px;
  font-weight: bold;
}