body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    background: linear-gradient(#2f234e, rgb(104, 54, 143), #4e286b)no-repeat center center fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.h4,
h4 {
    font-size: 19px;
    font-weight: 500;
    color: #57307b;
    font-family: "Roboto", sans-serif;
}

#planetMenu {
    float: right;
}

.planetMenuIcon {
    float: right;
    width: 55px !important;
    height: 55px !important;
    font-size: 26px !important;
    line-height: 55px !important;
    text-align: center;
    padding-left: 3px;
    cursor: pointer;
}

.btCustomCarousel {
    background-color: transparent;
    padding: 50px 0;
    width: 100%;
    height: 100%;
}

.item {
    background-color: #fff;
}

.btCustomCarousel>.container {
    position: relative;
    z-index: 1;
}

.btCustomCarousel:after {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 32%;

    content: '';
    z-index: 0;
}

.carousel-indicators .active {
    background-color: transparent;
}

.btCustomCarousel .carousel-indicators {
    position: static;
    width: auto;
    margin: 0 0 30px 0;
    text-align: left;
    width: 100%;
    float: left;
}

.btCustomCarousel .carousel-indicators li {
    text-indent: 0;
    width: 170px;
    height: 170px;
    margin: 0;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.carousel-indicators li {
    border: 4px solid #67368e;
}

.planet1 {
    position: relative;
    background-image: url(../img/hoc/planet/planet1.png);
    background-size: contain;

}

.planet2 {
    position: relative;
    background-image: url(../img/hoc/planet/planet2.png);
    background-size: contain;
}

.planet3 {
    position: relative;
    background-image: url(../img/hoc/planet/planet3.png);
    background-size: contain;
}

.planet4 {
    position: relative;
    background-image: url(../img/hoc/planet/planet4.png);
    background-size: contain;
}

.planet5 {
    position: relative;
    background-image: url(../img/hoc/planet/planet5.png);
    background-size: contain;
}

.planet6 {
    position: relative;
    background-image: url(../img/hoc/planet/planet6.png);
    background-size: contain;
}

.planet7 {
    position: relative;
    background-image: url(../img/hoc/planet/planet7.png);
    background-size: contain;
}

.planet8 {
    position: relative;
    background-image: url(../img/hoc/planet/planet8.png);
    background-size: contain;
}

.planet9 {
    position: relative;
    background-image: url(../img/hoc/planet/planet9.png);
    background-size: contain;
}

.btCustomCarousel .carousel-indicators li i {
    font-size: 48px;
    display: block;
    width: 90px;
    height: 90px;
    background: rgba(255, 255, 255, 0.4);
    line-height: 90px;
    margin: 20px auto 15px;
    border-radius: 100px;
    color: #3378ff;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.level {
    position: relative;
    margin-top: 30px;
}

.lessonName {
    margin: 0px !important;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 0px 0px 0px;
}

.btCustomCarousel .carousel-indicators li.active {
    color: #fff;
    animation-name: wiggle;
    -webkit-animation-name: wiggle;
    animation-duration: 2.5s;
    -webkit-animation-duration: 2.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    visibility: visible !important;
}

.btCustomCarousel .carousel-indicators li.active i {
    color: #fff;
    background: #1f4899;
}

.btCustomCarousel .carousel-control {
    background: #67368e;
    position: static;
    opacity: 1;
    padding: 10px 15px;
    margin-right: 15px;
    border-radius: 10px;
}

.carouselSliderItems {
    text-align: center;
    display: none;
}

.mobileDevice {
    display: none;
}

.carouselSliderItems img {}

.carouselSliderItems .carousel-inner {
    position: absolute;
    width: 290px;
    left: 50%;
    height: 490px;
    margin-left: -143px;
}

.lessonPageContent {
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #333;
}

.sliderTableContent {
    display: table;
    width: 100%;
    height: 470px;
    padding: 15px;
}

.sliderTableRow {
    display: table-row;
}

.sliderTableCell {
    display: table-cell;
    vertical-align: middle;
}

.itemIcon {
    color: #fff;
    background: #9d68d8;
    font-size: 48px;
    display: block;
    width: 90px;
    height: 90px;
    line-height: 90px;
    margin: 0 auto;
    border-radius: 100px;
    color: #fff;

    -webkit-animation-delay: 0.5s;

    animation-delay: 0.5s;
}

.section-intro {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: #fafafa;
}

.btnNext {
    background-color: #5D4D7A;
    padding: 6px 20px 7px 20px;
    display: inline-block;
    transition-duration: 0.3s;
    transition-property: transform;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
}

.btnNext:hover {
    background-color: #5D4D7A;
    transform: scale(1.1);
}

.section-intro:after {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #02e4b1;
    width: 100px;
    height: 2px;
    content: '';
}

.section-intro h2 {
    font-size: 40px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}

@media (min-width: 991px) and (max-width: 1199px) {
    .carouselSliderItems {
        margin-top: 120px;
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    .btCustomCarousel .carousel-indicators li {
        margin: 0;
    }

    .carouselSliderItems {
        margin-top: 120px;
    }

    .carouselSliderItems .carousel-inner {
        margin-left: -129px;
    }
}

@media (max-width: 767px) {
    .btCustomCarousel:after {
        display: none;
    }

    .btCustomCarousel {
        text-align: center;
    }

    .section-intro:after {
        left: 50%;
        margin-left: -50px;
    }

    .btCustomCarousel .carousel-indicators {
        white-space: nowrap;
        overflow: auto;
    }

    .btCustomCarousel .carousel-indicators li {
        float: none;
    }

    .btCustomCarousel .carousel-control {
        display: none;
    }

    .carouselSliderItems {
        float: left;
        width: 100%;
    }
}

@media (max-width: 400px) {
    .carouselSliderItems img {
        display: none;
    }

    .sliderTableContent,
    .carouselSliderItems .carousel-inner {
        height: auto;
        position: relative;
    }

    .carouselSliderItems .carousel-inner {
        top: 0;
    }
}